body {
    position: relative;
    width: 1080px;
    height: 1920px;
    background: #F5F5F5;
    /* overflow: hidden; */
}

h1 {
    position: absolute;
    top: 800px;
    left: 353px;
    width: 130px;
    height: 48px;
    text-align: left;
    font: normal normal bold 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
    font-weight: bold;
    white-space: nowrap;
}

h2 {
    position: absolute;
    top: 848px;
    left: 395px;
    width: 184px;
    height: 48px;
    text-align: left;
    font: normal normal 300 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
    font-weight: lighter;
    white-space: nowrap;
}

h3 {
    position: absolute;
    top: 1441px;
    left: 475px;
    width: 374px;
    height: 48px;
    text-align: left;
    font: normal normal bold 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
}

h4 {
    position: absolute;
    top: 1489px;
    left: 448px;
    width: 290px;
    height: 48px;
    text-align: left;
    font: normal normal 300 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
}

#button1 {
    position: absolute;
    top: 383px;
    left: 344px;
    width: 392px;
    height: 392px;
    text-align: center;
    letter-spacing: 0px;
    background: transparent url('img/albert.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    color: #27A7E7;
    opacity: 1;
    border: 3px solid #27A7E7;
    border-radius: 50px;
}

#button2 {
    position: absolute;
    top: 1024px;
    left: 344px;
    width: 392px;
    height: 392px;
    text-align: center;
    letter-spacing: 0px;
    background: transparent url('img/mario.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    color: #27A7E7;
    opacity: 1;
    border: 3px solid #27A7E7;
    border-radius: 50px;
}


@media only screen and (max-width: 699) {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
          }
          
          /* Дополнительные стили для оформления */
          #button1 {
            text-align: center;
            letter-spacing: 0px;
            background-size: cover;
            opacity: 1;
            border: 5px solid #27A7E7;
            border-radius: 10vw;
            width: 50vh;
            height: 50vh;
            margin-left: -70px; 
          }
          
          #button2 {
            text-align: center;
            letter-spacing: 0px;
            background-size: cover;
            opacity: 1;
            border: 5px solid #27A7E7;
            border-radius: 10vw;
            width: 50vh;
            height: 50vh;
            margin-left: -70px; 
          }
          
          h1, h3 {
            font: normal normal bold 5vh/5vh 'SF Pro', sans-serif;
            margin-left: -70px;
            font-weight: bolder;
          }
    
          h2, h4 {
            font: normal normal 300 5vh/5vh 'SF Pro', sans-serif;
            margin-left: -70px;
          }
          h3, h4 {
            margin-left: -80px;
          }
          
          h1, h2, h3, h4 {
            margin-top: -40px;
          }
          #button1,
          h1,
          h2,
          #button2,
          h3,
          h4 {
            display: flex;
          }
}
@media only screen and (min-width: 700px) and (max-width: 850px) {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
              }
              
              /* Дополнительные стили для оформления */
              #button1 {
                text-align: center;
                letter-spacing: 0px;
                background-size: cover;
                opacity: 1;
                border: 6px solid #27A7E7;
                border-radius: 15vw;
                width: 50vh;
                height: 50vh;
                margin-left: -70px; 
              }
              
              #button2 {
                text-align: center;
                letter-spacing: 0px;
                background-size: cover;
                opacity: 1;
                border: 5px solid #27A7E7;
                border-radius: 10vw;
                width: 50vh;
                height: 50vh;
                margin-left: -70px; 
              }
              
              h1, h3 {
                font: normal normal bold 5vh/5vh 'SF Pro', sans-serif;
                margin-left: -40px;
                font-weight: bolder;
              }
        
              h2, h4 {
                font: normal normal 300 5vh/5vh 'SF Pro', sans-serif;
                margin-left: -70px;
              }
              h3, h4 {
                margin-left: -80px;
              }
              
              h1, h2, h3, h4 {
                margin-top: -40px;
              }
              #button1,
              h1,
              h2,
              #button2,
              h3,
              h4 {
                display: flex;
              }
              
            }
    
@media only screen and (device-height: 896px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      /* Дополнительные стили для оформления */
      #button1 {
        text-align: center;
        letter-spacing: 0px;
        background-size: cover;
        opacity: 1;
        border: 5px solid #27A7E7;
        border-radius: 10vw;
        width: 40vh;
        height: 40vh;
        /* margin-left: -20px;  */
      }
      
      #button2 {
        text-align: center;
        letter-spacing: 0px;
        background-size: cover;
        opacity: 1;
        border: 5px solid #27A7E7;
        border-radius: 10vw;
        width: 40vh;
        height: 40vh;
        margin-bottom: 500px;
        /* margin-left: -20px;  */
      }
      
      
      h1, h2, h3, h4 {
        margin: 5px 0;
        font-family: Arial, sans-serif;
      }
      
      h1, h3 {
        font: normal normal bold 4vh/4vh 'SF Pro', sans-serif;
        /* margin-left: -20px; */
        font-weight: bolder;

      }

      h2, h4 {
        font: normal normal 300 4vh/4vh 'SF Pro', sans-serif;
        /* margin-left: -20px; */
      }
      
      #button1,
      h1,
      h2,
      #button2,
      h3,
      h4 {
        display: flex;
      }
      
    }