body {
    position: relative;
    width: 1080px;
    height: 1920px;
    background: #F5F5F5;
    /* overflow: hidden; */
}

h1 {
    position: absolute;
    top: 800px;
    left: 353px;
    width: 130px;
    height: 48px;
    text-align: left;
    font: normal normal bold 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
    font-weight: bold;
    white-space: nowrap;
}

h2 {
    position: absolute;
    top: 848px;
    left: 395px;
    width: 184px;
    height: 48px;
    text-align: left;
    font: normal normal 300 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
    font-weight: lighter;
    white-space: nowrap;
}

h3 {
    position: absolute;
    top: 1441px;
    left: 475px;
    width: 374px;
    height: 48px;
    text-align: left;
    font: normal normal bold 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
}

h4 {
    position: absolute;
    top: 1489px;
    left: 448px;
    width: 290px;
    height: 48px;
    text-align: left;
    font: normal normal 300 40px/48px 'SF Pro', sans-serif;
    letter-spacing: 0px;
    color: #27A7E7;
    opacity: 1;
}

#button1 {
    position: absolute;
    top: 383px;
    left: 344px;
    width: 392px;
    height: 392px;
    text-align: center;
    letter-spacing: 0px;
    background: transparent url('img/albert.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    color: #27A7E7;
    opacity: 1;
    border: 3px solid #27A7E7;
    border-radius: 50px;
}

#button2 {
    position: absolute;
    top: 1024px;
    left: 344px;
    width: 392px;
    height: 392px;
    text-align: center;
    letter-spacing: 0px;
    background: transparent url('img/mario.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    color: #27A7E7;
    opacity: 1;
    border: 3px solid #27A7E7;
    border-radius: 50px;
}


@media only screen and (max-height: 690px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      /* Дополнительные стили для оформления */
      #button1 {
        text-align: center;
        letter-spacing: 0px;
        background-size: cover;
        opacity: 1;
        border: 5px solid #27A7E7;
        border-radius: 10vw;
        width: 25vh;
        height: 25vh;
        margin-left: -50px; 
      }
      
      #button2 {
        text-align: center;
        letter-spacing: 0px;
        background-size: cover;
        opacity: 1;
        border: 5px solid #27A7E7;
        border-radius: 10vw;
        width: 25vh;
        height: 25vh;
        margin-left: -50px;
        margin-top: 30;
      }
      
      h1, h3 {
        font: normal normal bold 2.5vh/2.5vh 'SF Pro', sans-serif;
        margin-left: -50px;
        font-weight: bolder;
      }

      h2, h4 {
        font: normal normal 300 2.5vh/2.5vh 'SF Pro', sans-serif;
        margin-left: -50px;
      }
      #button2 {
        margin-top: 250px;
      }
      h1 {
        margin-top: 150px;
      }
      h2 {
        margin-top: 170px;
        margin-left: -30px;
      }
      h3 {
        margin-top: 400px;
        margin-left: 0px;

      }
      h4 {
        margin-top: 410px;
        margin-left: -10px;

      }
      #button1,
      h1,
      h2,
      #button2,
      h3,
      h4 {
        display: flex;
      }
      
    }

@media only screen and (min-height: 699px) and (max-height: 850px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      /* Дополнительные стили для оформления */
      #button1 {
        text-align: center;
        letter-spacing: 0px;
        background-size: cover;
        opacity: 1;
        border: 5px solid #27A7E7;
        border-radius: 10vw;
        width: 45vh;
        height: 45vh;
        margin-left: -50px; 
      }
      
      #button2 {
        text-align: center;
        letter-spacing: 0px;
        background-size: cover;
        opacity: 1;
        border: 5px solid #27A7E7;
        border-radius: 10vw;
        width: 25vh;
        height: 25vh;
        margin-left: -50px;
        margin-top: 50;
      }
      
      h1, h3 {
        font: normal normal bold 2.5vh/2.5vh 'SF Pro', sans-serif;
        margin-left: -50px;
        font-weight: bolder;
      }

      h2, h4 {
        font: normal normal 300 2.5vh/2.5vh 'SF Pro', sans-serif;
        margin-left: -50px;
      }
      #button2 {
        margin-top: 250px;
      }
      h1 {
        margin-top: 150px;
      }
      h2 {
        margin-top: 170px;
        margin-left: -30px;
      }
      h3 {
        margin-top: 400px;
        margin-left: 0px;

      }
      h4 {
        margin-top: 410px;
        margin-left: -10px;

      }
      #button1,
      h1,
      h2,
      #button2,
      h3,
      h4 {
        display: flex;
      }
      
    }


@media only screen and (device-height: 896px),
(device-height: 844px), (device-height: 851px),
(device-height: 932px), (device-height: 852px),
(device-height: 926px), (device-height: 896px),
(device-height: 844px)
  {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
          }
          
          /* Дополнительные стили для оформления */
          #button1 {
            text-align: center;
            letter-spacing: 0px;
            background-size: cover;
            opacity: 1;
            border: 5px solid #27A7E7;
            border-radius: 10vw;
            width: 25vh;
            height: 25vh;
            margin-left: -50px; 
          }
          
          #button2 {
            text-align: center;
            letter-spacing: 0px;
            background-size: cover;
            opacity: 1;
            border: 5px solid #27A7E7;
            border-radius: 10vw;
            width: 25vh;
            height: 25vh;
            margin-left: -50px;
            margin-top: 50;
          }
          
          h1, h3 {
            font: normal normal bold 2.5vh/2.5vh 'SF Pro', sans-serif;
            margin-left: -50px;
            font-weight: bolder;
          }
    
          h2, h4 {
            font: normal normal 300 2.5vh/2.5vh 'SF Pro', sans-serif;
            margin-left: -50px;
          }
          #button2 {
            margin-top: 250px;
          }
          h1 {
            margin-top: 150px;
          }
          h2 {
            margin-top: 170px;
            margin-left: -30px;
          }
          h3 {
            margin-top: 400px;
            margin-left: 0px;

          }
          h4 {
            margin-top: 410px;
            margin-left: -10px;

          }
          #button1,
          h1,
          h2,
          #button2,
          h3,
          h4 {
            display: flex;
          }
          
        }

@media only screen and (device-height: 814px) {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
              }
              
              /* Дополнительные стили для оформления */
              #button1 {
                text-align: center;
                letter-spacing: 0px;
                background-size: cover;
                opacity: 1;
                border: 5px solid #27A7E7;
                border-radius: 10vw;
                width: 25vh;
                height: 25vh;
                margin-left: -50px; 
              }
              
              #button2 {
                text-align: center;
                letter-spacing: 0px;
                background-size: cover;
                opacity: 1;
                border: 5px solid #27A7E7;
                border-radius: 10vw;
                width: 25vh;
                height: 25vh;
                margin-left: -50px;
                margin-top: 50;
              }
              
              h1, h3 {
                font: normal normal bold 2.5vh/2.5vh 'SF Pro', sans-serif;
                margin-left: -50px;
                font-weight: bolder;
              }
        
              h2, h4 {
                font: normal normal 300 2.5vh/2.5vh 'SF Pro', sans-serif;
                margin-left: -50px;
              }
              #button2 {
                margin-top: 250px;
              }
              h1 {
                margin-top: 150px;
              }
              h2 {
                margin-top: 170px;
                margin-left: -30px;
              }
              h3 {
                margin-top: 400px;
                margin-left: 0px;
        
              }
              h4 {
                margin-top: 410px;
                margin-left: -10px;
        
              }
              #button1,
              h1,
              h2,
              #button2,
              h3,
              h4 {
                display: flex;
              }
              
            }
        