/* Общие стили */
body {
  padding: 20px;
}


/* Стили для кнопок */
.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: left;
}

.btn {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 5px solid #27A7E7; */
  border-radius: 50px;
  width: 10vh;
  height: 10vh;
  letter-spacing: 0px;
  background-size: cover;
  box-shadow: 0px 30px 0px rgba(0, 0, 0, 0.2);
  /* color: #27A7E7; */
  /* margin-left: 30.3%; */
}



.col-md-6{
  margin-top: 10vh;
}


  .btn-container {
      position: fixed;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      /* backdrop-filter: blur(28px); */
      /* margin-left: 20%;
      margin-right: 20%; */
    }
    .btn-container::before {
      content: '';
      position: fixed;
      top: -80;
      left: -100%;
      right: -100%;
      width: 300%;
      height: 200%;
      backdrop-filter: blur(50px);
      z-index: -1;
    }
.fixed-button {
  /* border: 5px solid #27A7E7; */
  border-radius: 35px;
  width: 30vh;
  height: 14vh;
  font: normal normal bold 2vh/2vh 'SF Pro', sans-serif;
  font-weight: bold;
  }


  #first-button {
      /* background-color: white; */
      background-size: cover;
      /* color: #27A7E7; */
    }

    #second-button {
      /* background-color: #27A7E7; */
      background-size: cover;
      /* color: white; */
    }


    h1 {
      margin-top:-100px;
      font: normal normal bold 2.6vh/2.6vh 'SF Pro', sans-serif;
      letter-spacing: 0px;
      /* color: #27A7E7; */
      opacity: 1;
      font-weight: bold;
  }

  h2 {
      font: normal normal 300 2.6vh/2.6vh 'SF Pro', sans-serif;
      letter-spacing: 0px;
      /* color: #27A7E7; */
      opacity: 1;
      font-weight: lighter;
  }

#button1 {
  background: transparent url('img/albert-einstein.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button2 {
  background: transparent url('img/eminem.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button3 {
  background: transparent url('img/harry-potter.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button4 {
  background: transparent url('img/mario.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button5 {
  background: transparent url('img/mr-bean.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button6 {
  background: transparent url('img/phsycologist.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button7 {
  background: transparent url('img/snoop-dogg.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button8 {
  background: transparent url('img/steve-jobs.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button9 {
  background: transparent url('img/elon-musk.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button10 {
  background: transparent url('img/gigachad.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button11 {
  background: transparent url('img/Kenny-McCormick.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button12 {
  background: transparent url('img/mj.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button13 {
  background: transparent url('img/nerd.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button14 {
  background: transparent url('img/stalin.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button15 {
  background: transparent url('img/tony-stark.png');
  background-size: cover;
  /* color: #27A7E7; */
}

#button16 {
  background: transparent url('img/SM.png');
  background-size: cover;
  /* color: #27A7E7; */
}
/* Адаптивные стили */
@media only screen and (max-device-height: 670px) {
  .col-md-6{
      margin-top: 7vh;
    }
  .btn {
  /* border: 10px solid #27A7E7; */
  border-radius: 8vw;
  width: 17vh;
  height: 17vh;
  letter-spacing: 0px;
  background-size: cover;
  /* color: #27A7E7; */
}
h1 {
  margin-top:-100px;
  font: normal normal bold 2vh/2vh 'SF Pro', sans-serif;
  letter-spacing: 0px;
  /* color: #27A7E7; */
  opacity: 1;
  font-weight: bold;
}

h2 {
  font: normal normal 300 2vh/2vh 'SF Pro', sans-serif;
  letter-spacing: 0px;
  /* color: #27A7E7; */
  opacity: 1;
  font-weight: lighter;
}
.btn-container {
  gap: 100px;
  /* margin-left: 20%;
  margin-right: 20%; */
}
.btn-container::before {
  content: '';
  position: fixed;
  top: -80;
  left: -100%;
  right: -100%;
  width: 300%;
  height: 200%;
  backdrop-filter: blur(50px);
  z-index: -1;
}
.fixed-button {
  /* border: 5px solid #27A7E7; */
  border-radius: 35px;
  width: 25vh;
  height: 10vh;
  font: normal normal bold 2vh/2vh 'SF Pro', sans-serif;
  font-weight: bold;
  }

  #first-button {
      /* background-color: white; */
      background-size: cover;
      /* color: #27A7E7; */
    }

    #second-button {
      /* background-color: #27A7E7; */
      background-size: cover;
      /* color: white; */
      width: 25vh;
      height: 10vh;
    }
}
@media screen and
(device-height: 896px),
(device-height: 844px), (device-height: 851px),
(device-height: 932px), (device-height: 852px),
(device-height: 926px), (device-height: 896px),
(device-height: 844px)
{
  .col-md-6{
      margin-top: 7vh;
    }
  .btn {
  /* border: 10px solid #27A7E7; */
  border-radius: 8vw;
  width: 15vh;
  height: 15vh;
  letter-spacing: 0px;
  background-size: cover;
  /* color: #27A7E7; */
}
h1 {
  margin-top:-100px;
  font: normal normal bold 2vh/2vh 'SF Pro', sans-serif;
  letter-spacing: 0px;
  /* color: #27A7E7; */
  opacity: 1;
  font-weight: bold;
}

h2 {
  font: normal normal 300 2vh/2vh 'SF Pro', sans-serif;
  letter-spacing: 0px;
  /* color: #27A7E7; */
  opacity: 1;
  font-weight: lighter;
}
.btn-container {
  gap: 100px;
  /* margin-left: 20%;
  margin-right: 20%; */
}
.fixed-button {
  /* border: 5px solid #27A7E7; */
  border-radius: 35px;
  width: 18vh;
  height: 10vh;
  font: normal normal bold 2vh/2vh 'SF Pro', sans-serif;
  font-weight: bold;
  }

  #first-button {
      background-size: cover;
    }

    #second-button {
      background-size: cover;
      width: 20vh;
      height: 10vh;
    }
}