<!DOCTYPE html>
<html>
<head>
    <title>Telegram Web App Interaction</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <img id="image1" src="/static/img/AE.png" onclick="handleImageClick('image1')" />
    <button id="button1" onclick="handleButtonClick('button1')" class="btn btn-primary">Albert Einshtein</button>
    <!-- <div id="caption1">Albert Einshtein</div> -->
    <div id="label2">Физик</div>
    <img id="image2" src="/static/img/SM.png" onclick="handleImageClick('image2')" />
    <button id="button2" onclick="handleButtonClick('button2')" class="btn btn-primary">Mario</button>
    <div id="label1">Персонаж</div>
    <script>
        function handleImageClick(imageId) {
            // Ваш код для взаимодействия с Telegram Web App
            // Получите данные, которые вам необходимо возвратить в формате строки
            var data = "Данные изображения " + imageId;

            // Возврат данных в формате строки в Telegram Web App
            TelegramWebAppProxy.returnData(data);
        }

        function handleButtonClick(buttonId) {
            var data;

            if (buttonId === 'button1') {
                data = 'Albert Einshtein';
            } else if (buttonId === 'button2') {
                data = 'Super Mario';
            }

            // Ваш код для взаимодействия с Telegram Web App
            // Отправка данных в строковом виде
            TelegramWebAppProxy.returnData(data);
        }
    </script>
</body>
</html>
